<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${eventDTO.name}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 20px; /* Add margin to the top */
            border: 2px solid #f2f2f2; /* Add border */
            padding: 20px; /* Add padding */
            border-radius: 10px; /* Add border radius for rounded corners */
        }
    </style>
</head>
<body>
<div class="container">
    <p th:text="'Име: ' + ${eventDTO.name}"></p>
    <p th:text="'Описание: ' + ${eventDTO.description}"></p>
    <p th:text="'Начало: ' + ${#temporals.format(eventDTO.startDate, 'yyyy-MM-dd HH:mm')}"></p>
    <p th:text="'Край: ' + ${#temporals.format(eventDTO.endDate, 'yyyy-MM-dd HH:mm')}"></p>
    <p th:text="'Място: ' + ${eventDTO.location}"></p>
    <p th:text="'Организатор: ' + ${eventDTO.user.fullName}"></p>
    <p>Заявили участие:</p>
    <tr th:each="user : ${eventDTO.users}">
        <p>
        <td th:text="${user.username}"></td>
        </p>
    </tr>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<footer th:insert="/fragments.html ::event-footer"></footer>
</html>
